<p id="notice"><%= notice %></p>
 <% for item in @cart.line_items %>
    <%= item.quantity %> X <%=  item.product.title %> <br>
 <% end %>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
